<div v-if="sections.current == 'Announcements'" class="p-4 py-0 xl:py-4 flex-1 overflow-y-auto">
    <ul class="lg:h-px">
      <li v-for="announcement in announcements" class="bg-white border px-3 py-2 rounded-md mb-4 text-sm">
        <p>{{announcement.primary}}</p>
        <p v-if="announcement.link_url && announcement.link_text" class="mt-1">
          <a :href="announcement.link_url" class="text-pink-600" target="_blank" rel="noopener noreferrer">{{announcement.link_text}}</a>
        </p>
      </li>
      <div class="h-1"></div>
    </ul>
</div>
