<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>You Got This From Your Couch</title>
<meta property="og:image" content="https://yougotthis.io/assets/couch/og.png">
<meta name="description"
  content="An online community conference, which focuses on the non-technical core skills for a happy, healthy work life.">
<meta name="og:description"
  content="An online community conference, which focuses on the non-technical core skills for a happy, healthy work life.">
<meta name="monetization" content="$ilp.uphold.com/DBEbnWEmPyJJ">
<link rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✊</text></svg>">
<link rel="stylesheet" href="/tailwind.min.css">
<style>
  #marked p {
    margin-bottom: 1em;
  }

  #marked a {
    color: rgba(219, 39, 119, var(--tw-bg-opacity))
  }

  .more-less {
    top: calc(50% - .5rem)
  }
</style>
