<header class="bg-black text-white">
    <!-- <div class="bg-green-400 text-white p-4">
      Color mode: {{ $colorMode.value }}
    </div> -->
    <div class="wrapper p-4 flex items-center gap-4">
      <a href="/" class="flex justify-start items-center flex-1">
        <img src="/fist-summer.svg" alt="Fist logo" class="h-14" />
        <div class="ml-4 inline-block">
          <h1 class="text-2xl font-bold">You Got This</h1>
          <p class="text-md">Through the Seasons Summer 2021</p>
        </div>
      </a>
      <div class="text-right">
        <span class="block">#YouGotThisConf</span>
        <a href="https://twitter.com/yougotthisconf" class="underline">@YouGotThisConf</a>
      </div>
    </div>
    <div
      style="background: #ffca27; color: black;"
    >
      <nav class="wrapper w-screen p-4">
        <ul class="flex flex-wrap gap-4">
          <li>
            <a href="https://yougotthis.io/events">Events</a>
          </li>
          <li>
            <a href="https://yougotthis.io/talks">Talk Library</a>
          </li>
          <li>
            <a href="https://twitter.com/yougotthisconf">Twitter</a>
          </li>
          <li>
            <a href="https://yougotthis.io/events/summer-2021" target="_blank">Event Schedule</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
