<!DOCTYPE html>
<html lang="en">

<head>{% include "_head.html" %}</head>

<body class="flex flex-col h-screen" style='background: #75cdd7;'>

  {% include "_header.html" %}

  <div id="app" class="flex-1 lg:grid gap-4 grid-cols-12 p-6 max-w-screen-2xl mx-auto">
    <img class="mt-12 w-12 col-span-12" src="/puff.svg" v-if="!state" />

    <main class="col-span-9 flex flex-col" v-if="state">
      {% include "_event_not_on_states.html" %}
      {% include "_event_live.html" %}
    </main>

    <aside class="col-span-3 flex flex-col mt-4 lg:mt-0 rounded-lg shadow-sm bg-white p-2 pb-6 overflow-y-scroll" v-if="state">
      <section class="rounded-lg mb-4 bg-white p-4" v-if="state">
        <h1 class="font-bold text-2xl leading-0" style="font-family: 'Eyeful', sans-serif">{{state.primary}}</h1>
        <p class="text-sm mt-2 mb-2">{{state.secondary}}</p>
        <a target="_blank" rel="noopener noreferrer" :href="state.button_url" class="text-sm leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 active:bg-pink-700 transition ease-in-out duration-150 inline-block cursor-pointer mr-2 mt-2 px-3 py-1">{{state.button_text}}</a>
        </button>
      </section>

      <section class="px-4">
        <h2 class="font-bold text-lg">Sponsors</h2>
        <a v-for="sponsor in state.sponsors" :key="sponsor.name" :href="sponsor.url" target="_blank" rel="noopener noreferrer" class="mt-4 block">
          <img :src="sponsor.image[0].thumbnails.large.url" :alt="sponsor.name" class="rounded-lg w-full">
          <p class="text-sm">{{ sponsor.message }}</p>
        </a>
      </section>
    </aside>
  </div>

  <script src="/socket.io.js"></script>
  <script src="/vue.min.js"></script>
  <script src="/hls.js"></script>
  <script>
    const socket = io()
    const app = new Vue({
      el: '#app',
      data: {
        state: false,
        socket: io(),
        muted: true,
        playing: true
      },
      created() {
        this.getState()
        this.setupSocketEvents()
      },
      methods: {
        async getState() {
          this.state = await fetch('/state').then(r => r.json())
          console.log(this.state)
          Vue.nextTick(() => {
            if(this.state.phase == 'live') this.setupPlayer()
          })
        },
        setupSocketEvents() {
          this.socket.on('now', data => {
            this.state = {
              ...this.state,
              ...data
            }
          })
          this.socket.on('refresh', () => location.reload())
          this.socket.on('fallback', () => window.location.href = "https://fallback.yougotthis.io")

          this.socket.on('phase', data => {
            this.state.phase = data.phase;
            Vue.nextTick(() => { if(this.state.phase == 'live') this.setupPlayer() })
          })
        },
        setupPlayer() {
          const video = document.querySelector('video')
          const url = this.state.stream_url
          if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = url
          } else if (Hls.isSupported()) {
            hls = new Hls()
            hls.loadSource(url)
            hls.attachMedia(video)
          }
        },
      }
    })
  </script>
  <script async defer src="https://uatu.yougotthis.io/latest.js"></script>
  <noscript><img src="https://uatu.yougotthis.io/noscript.gif" alt=""/></noscript>
</body>

</html>
