<!DOCTYPE html>
<html lang="en">

<head>{% include "_head.html" %}</head>

<body class="flex flex-col h-screen bg-gray-800">
  {% include "_header.html" %}

  <div id="app" class="flex-1 lg:grid gap-4 grid-cols-12 p-6 max-w-screen-2xl mx-auto">
    <main class="col-span-9 flex flex-col">
      {% include "_event_not_on_states.html" %}
      {% include "_event_live.html" %}
    </main>

    <aside class="col-span-3 flex flex-col mt-4 lg:mt-0">
      {% include "_now.html" %}
      <section class="rounded-lg flex-1 bg-white flex flex-col">
        {% include "_sidebar_nav.html" %}
        <div id="main" class="flex-1 flex flex-col">
          {% include "_announcements.html" %}
          {% include "_sponsors.html" %}
          {% include "_about.html" %}
        </div>
      </section>
    </aside>
  </div>

  <script src="/socket.io.js"></script>
  <script src="/vue.min.js"></script>
  <script src="/hls.js"></script>
  <script>
    const socket = io()
    const app = new Vue({
      el: '#app',
      data: {
        state: false,
        socket: io(),
        announcements: [],
        sponsors: [],
        sections: {
          options: ['Announcements', 'Sponsors', 'About'],
          current: 'Announcements',
        }
      },
      created() {
        this.getState()
        this.setupSocketEvents()
      },
      methods: {
        async getState() {
          this.state = await fetch('/state').then(r => r.json())
          this.announcements = this.state.announcements
          this.sponsors = this.state.sponsors
          Vue.nextTick(() => {
            if(this.state.phase == 'live') this.setupPlayer()
          })
        },
        setupSocketEvents() {
          this.socket.on('now', data => this.state = { ...this.state, ...data })
          this.socket.on('refresh', () => location.reload())
          this.socket.on('announcement:create', data => this.announcements.unshift(data))
          this.socket.on('announcement:delete', uaid => this.announcements = this.announcements.filter(a => a.uaid != uaid))
          this.socket.on('phase', data => {
            this.state.phase = data.phase;
            Vue.nextTick(() => { if(this.state.phase == 'live') this.setupPlayer() })
          })
        },
        setupPlayer() {
          const video = document.querySelector('video')
          const url = this.state.stream_url
          if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = url
          } else if (Hls.isSupported()) {
            hls = new Hls()
            hls.loadSource(url)
            hls.attachMedia(video)
          }
        }
      }
    })
  </script>
</body>

</html>
