<!DOCTYPE html>
<html lang="en">

<head>{% include "_head.html" %}</head>

<body class="flex flex-col h-screen bg-gray-800">
  {% include "_header.html" %}

  <div id="app" class="p-6 max-w-screen-lg mx-auto mt-4">
    <img class="mt-12 w-12 col-span-12" src="/puff.svg" v-if="!state" />
    <video controls class="rounded-lg bg-black w-lg" v-if="state"></video>
    <section class="rounded-lg shadow-sm mb-4 bg-white p-4 mt-4" v-if="state">
      <h1 class="font-bold text-lg">{{sponsor.name}}</h1>
      <p class="text-sm mt-2 mb-4">{{sponsor.description}}</p>
      <p v-if="sponsor.raffle_url && sponsor.raffle_text" class="text-sm text-gray-600 italic my-2">Raffle: {{sponsor.raffle_text}}</p>
      <a :href="sponsor.url" class="text-sm leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 active:bg-pink-700 transition ease-in-out duration-150 px-3 py-1 inline-block" target="_blank" rel="noopener noreferrer">Visit {{sponsor.name}}</a>
      <a v-if="sponsor.raffle_url && sponsor.raffle_text" :href="sponsor.raffle_url" class="mt-2 ml-1 text-sm leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 active:bg-pink-700 transition ease-in-out duration-150 px-3 py-1 inline-block" target="_blank" rel="noopener noreferrer">Enter {{sponsor.name}}'s raffle</a>
    </section>
  </div>

  <script src="/socket.io.js"></script>
  <script src="/vue.min.js"></script>
  <script src="/hls.js"></script>
  <script>
    const sponsor = '{$ sponsor $}'
    const socket = io()
    const app = new Vue({
      el: '#app',
      data: {
        state: false,
        socket: io(),
        sponsor: false,
      },
      async created() {
        await this.getState()
        this.setupSocketEvents()
      },
      methods: {
        async getState() {
          this.state = await fetch('/state').then(r => r.json())
          const sponsors = this.state.sponsors.map(s => {
            return { ...s, slug: s.name.toLowerCase().split(' ').join('-') }
          })
          this.sponsor = sponsors.find(s => s.slug == sponsor)
          Vue.nextTick(() => {
            const video = document.querySelector('video')
            video.src = this.sponsor.video[0].url
          })
        },
        setupSocketEvents() {
          this.socket.on('refresh', () => location.reload())
          this.socket.on('fallback', () => window.location.href = "https://fallback.yougotthis.io")
          this.socket.on('phase', data => {
            if(data.phase == 'live') window.location.href = "https://live.yougotthis.io"
          })
        }
      }
    })
  </script>
  <script async defer src="https://uatu.yougotthis.io/latest.js"></script>
  <noscript><img src="https://uatu.yougotthis.io/noscript.gif" alt=""/></noscript>
</body>

</html>
