@font-face {
    font-family: 'Creepster';
    src: url('creepster.woff2') format('woff2'),
        url('creepster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
